
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px 100px;
}
h1{
    text-align: center;
    background-color: #067B;
    color: #fff;
    padding: 10px;
    margin: 0;
}
#textbox{
  width: 100%;
  border-color: #067B;
  font-size: 15px;
}
p{
    text-align: center;
    background-color: #067B;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    color: #fff;
}